<!doctype html>
<html>
  <head>
    <title>EWT Foundation</title>
  </head>
  <body>
    <div id="app">
      <h1>Ewt Foundation app</h1>
      <button>click me</button>
    </div>
    <script src="https://unpkg.com/@shopware-ag/meteor-admin-sdk/cdn"></script>
    <script>
      window.onload = function () {
        window.parent.postMessage("sw-app-loaded", "*");
      };
      sw.notification.dispatch({
        title: "My first notification",
        message: "This was really easy to do",
      });
    </script>
  </body>
</html>
